@import "../../utils/utils.scss";

.button {
	border-radius: 16px;
	border: none;
	background: #e91e63; // pink 500
	display: block;
	color: #fff;
	padding: 8px 16px;
	font-weight: bold;
	cursor: pointer;
	@include shadow;
	display: inline-flex;
	align-items: center;

	svg {
		margin-right: 4px;
		width: 20px;
		height: 20px;
	}
}

.gray {
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
}
